<div class="Futbook"><h1>FutBook</h1> </div>
<div class="Welcome">
  <p>Welcome to Futbook</p>
<p>Connecting soccer agents to future stars</p> </div>
<p><a href="<%= @facebook_oauth_link %>">Login with Facebook</a></p>


<div class="box">
  <form action="/players" method="POST">
  <input type="radio" name="type" value="player" checked>Player
  <input type="radio" name="type" value="agent" checked>Agent

    <label>
      NAME
      <input type="text" name="name" value="name" />
    </label>

    <label>
      LAST NAME
      <input type="last_name" name="last_name" value="last name" />
    </label>

    <label>
      EMAIL
      <input type="email" name="email" value="email"/>
    </label>
    <button>Submit!</button>
</div>






