<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>FutBook</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/fonts.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
</head>
<body>
 <!--  <img src="images/speedimage.jpg"alt=""> -->
  <header>

     <div class="main">
    <img class="logo" src="images/soccergiphy.gif" alt="soccer ball logo">
  </div>
  </header>
 <%= yield %>

</body>
<footer>
   <div class="Logout"> <p><a href="/logout">Click here to logout.</a></p> </div>
  </footer>

</html>


