<div class="box_dos">
  <form action="/agents" method="POST">
    <label>
      Member
      <input type="member" name="member" />
    </label>

    <label>
      Name
      <input type="first_name" name="first name" />
    </label>

    <label>
      Last_Name
      <input type="last_name" name="last_name"\>
    </label>
    <input type="submit" value="Create">
  </form>
</div>

<div class ="box_tres">
  <form action="/players" method="POST">
    <label>
      Member
      <input type="member" name="member" />
    </label>

    <label>
      Name
      <input type="first_name" name="first_name" />
    </label>

    <label>
      Last Name
      <input type="last_name" name="last_name" />
    </label>

   </form>
</div>

