<div class="feed box">
  <div class="">
    <span class="author-text"><%= @entry["author"] %></span>
    <span class="date-text"><%= @entry["date_taken"] %></span>
    <hr class="before"/>
    <img alt="Entry Image" src="<%= @entry["photo_url"] %>" />
    <hr class="after"/>
  </div>
</div>
