<div class=" box">
  <div class="player">
    <span class="name"><%= @player["name"] %></span>
    <hr class="before"/>
    <span class="picture"><%= @entry["picture"] %></span>
    <img alt="video" src="<%= @entry["video"] %>" />
    <hr class="after"/>
  </div>
</div>





