<div class="feed box">
  <div class="player">
    <span class="name"><%= @player["name"] %></span>
    <hr class="before"/>
    <span class="date-text"><%= @entry["date_taken"] %></span>
    <img alt="Entry Image" src="<%= @entry["photo_url"] %>" />
    <hr class="after"/>
  </div>
</div>




