

html {
  font-family: helvetica;
  background-color: #20B2AA;
  /*background-image: url ("img src="images/speedimage.jpg"alt="")*/
}

header {
  border-bottom: 3px solid red;
  line-height: 3em;
}

header img {
  width: 5em;
  line-height: 3em;
  vertical-align: middle;
  margin: 1em 0 1em 1em;
}


div.futbook{
  color:blue;
  font-size: 40px;
  position:relative;
  left: 350px;
  top: 200px;
}

div.welcome {
color:red;
}

